<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="head::head"></head>
<body>
	<header th:include="header::header"></header>
	<div class="content">
		<div class="container">
			<div class="title"><h1>People</h1></div>
			<div class="datagrid">
				<table>
					<thead>
						<tr>
							<!-- <th>Identifier</th> -->
							<th>Name</th>
							<th>Email</th>
							<th>Soc Sec #</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="person : ${people}">
							<!-- <td th:text="${person.id}">Onions</td> -->
							<td th:text="${person.firstName + ' ' + person.LastName}">Onions</td>
							<td th:text="${person.email}">2.41</td>
							<td th:text="${person.governmentId}">yes</td>
							<td><a th:href="@{'/person/edit/' + ${person.id}}" class="button">Edit</a>
								<a th:href="@{'/person/delete/' + ${person.id}}" class="button">Delete</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	    <div>
		    <a href="/person/new" class="button">New Person</a>
	    </div>
	</div>
	<footer th:include="footer::footer"></footer>
</body>
</html>
